p, h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
}

#d{
    font-size: 20px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.barra {
    background-color: aquamarine;
}

.img-pq {
    width: 300px;
}

#texto-rojo {
    color:red;
}

#texto-azul {
    color:blue;
}

#texto-naranja {
    color:orange;
}

#texto-verde {
    color:green;
}

#texto-fucsia {
    color:fuchsia;
}